body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none
}

td {
  padding: 0
}

tr {
  text-align: center;
}

.spreadsheet-container {
  max-height: 500px;
  overflow: scroll;
}

.spreadsheet-input {
  border-radius: 0;
  width: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.spreadsheet-input:focus {
  border: 1px solid black;
  box-shadow: none;
}

.spreadsheet-title-number {
  font-size: 0.9em;
  padding: 0.5em 1em 0 0.75em; 
  margin-left: 0.25em;
  transform: translateX(1px);
}

.spreadsheet-title-letter {
  font-size: 0.85em;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}

.active-cell {
  border-radius: 2;
  border: 2px solid grey !important;
  box-shadow: none !important;
}

.spreadsheet-active-letter, .spreadsheet-active-number {
  background: #ececec;
}

.cell-formula {
  border: 2px solid #00c4a7 !important;
  font-weight: 600;
}

.cell-val {
  border: 2px solid #ff879f !important;
  font-weight: 600;
}

