body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 2em;
  align-content: center;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none
}

.bulleted {
  list-style-type: disc;
}

/*General*/
td {
  padding: 0;
  border: 1px solid lightgrey;
}

tr {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.root-container {
  max-width: 900px;
}


.component {
  margin-top: 3em;
}


 /*Crud*/

.surname {
  padding-top: 0.7em
}

 /*Circles*/

.canvas-box {
  position: relative;
  width: fit-content;
}

.canvas-modal {
  position: absolute;
}

.canvas-modal-background{
  background: transparent;
}

.canvas-modal-panel {
  background: white;
  width: 50%;
}

.canvas-modal-field {
  width: 100%;
  background: white;
}


 /*Spreadsheet*/

.spreadsheet-container {
  max-height: 550px;
  overflow: scroll;
}

.spreadsheet-input-base, .spreadsheet-input-display {
  border-radius: 0;
  border: none;
  width: 110px;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  text-align: center;
  box-shadow: none !important;
  outline: none !important;
}

.spreadsheet-input-textarea {
  border-radius: 0
}

.spreadsheet-input:focus {
  border: 1px solid #3298dc;
  box-shadow: none;
  outline: none !important;
}

.spreadsheet-title-number {
  font-size: 0.9em;
  padding: 0.5em 1em 0 0.75em; 
  margin-left: 0.25em;
  transform: translateX(1px);
}

.spreadsheet-title-letter {
  font-size: 0.85em;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}


.spreadsheet-active-letter, .spreadsheet-active-number {
  background: #ececec;
}

.computed-cell-val {
  border: 1px solid #00c4a7 !important;
  font-weight: 600;
}

.formula-input-val {
  border: 1px solid lightpink !important;
  font-weight: 600;
}

.spreadsheet-input-textarea {
  display: flex;
  justify-content: center;
  text-align: center;
}

.spreadsheet-info {
  font-size: 0.95rem;
}


